#h11 {
display: flex;
flex-direction: column;
background-color: navy;
color: yellow;
}
#i1 {
  background-color: aqua;
}
#b1 {
  background-color: black;
  color: yellow;
}
#b2 {
  background-color: aqua;
  color: black;
}
#p1 {
  background-color: aqua;
  color: black;
}
#img1 {
  width: 400px;
  height: 300px;
}
#img2 {
  width: 400px;
  height: 300px;
}
#img3 {
  width: 400px;
  height: 300px;
}
#img4 {
  width: 400px;
  height 300px;
}
